{% extends 'base.html.twig' %}

{% block title %}Alex' Cocktails{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('cocktails') }}
{% endblock %}

{% block body %}
  <div id="main"></div>
{% endblock %}
