{% extends 'base.html.twig' %}

{% block title %}Ingredients{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ingredients') }}
{% endblock %}

{% block body %}
    <div id="main"></div>
{% endblock %}
