{% extends 'base.html.twig' %}

{% block title %}Ingredient Types{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('types') }}
{% endblock %}

{% block body %}
    <div id="main"></div>
{% endblock %}
