{% extends 'base.html.twig' %}

{% block title %}Cocktails-Blog{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('blog') }}
{% endblock %}

{% block body %}
  <div id="navbar"></div>
  <div id="main"></div>
{% endblock %}
